@charset "utf-8";
/* CSS Document */

@media (max-width: 650px) {
	body.custom-background {
		background-attachment: scroll;
	}
}

body{
    background-image: url('../body_backgroud.jpg');
    margin: 0px;
    padding: 0px;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
section{
    width: 100%;
    height: 16vh;
    background-color: black;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0, 2);
    padding:0px, 5%;
}
nav ul{
    display: flex;
}

nav ul li a {
    margin:45px;
    font-family: "Brush Script MT, cursive";
    color:#CE9A28;
    font-size: 25px;
    font-weight: 300;
}

.down-cv{
    background-color: #1f1f1d;
    color:#CE9A28;
    border:2px solid #373636;
    margin:20px;
    font-size: 16px;
}

.personal_pic{
    display: inline;
    margin:45px;
}

h1{
    color:#CE9A28;
    font-size: 45px;
    /*font-family: "Courier New", Courier, monospace;*/
    font-family:"Brush Script MT", cursive;
    font-weight: 390;
    /*text-align: center;*/
}
p {
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.iconDetails {
    float:left;  
} 
    
.container2 { 
    width:900px;
    height:400px;
    padding:1%;
    margin-left:20%;
    margin-top: 10%;
    background-color:rgba(0, 0, 0, 0.6);
    
}
    