@charset "utf-8";
/* CSS Document */

@media (max-width: 650px) {
	body.custom-background {
		background-attachment: scroll;
	}
}

body{
    background-image: url('../body_backgroud.jpg');
    margin: 0px;
    padding: 0px;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
section{
    width: 100%;
    height: 16vh;
    background-color: black;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0, 2);
    padding:0px, 5%;
}
nav ul{
    display: flex;
}

nav ul li a {
    margin:45px;
    font-family: "Courier New", Courier, monospace;
    color:#C28807;
    font-size: 25px;
    font-weight: 300;
}